body {
  margin: 0px;
  background-color: #081d42;
}
.Main {
  margin-top: 90px;
  width: 100%;
  min-height: 110vh;
}
.CardGrid {
  display: grid;
  grid-template-columns: repeat(5,1fr) ;
  grid-gap: 30px;
  justify-content: center;
}
.Main > img {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 600px;
  width: 100%;
}
.title1{
  font-weight: bolder;
  font-style: italic;
}
.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.footer{
  color: white;
  font-weight: bold;
  font-style: italic;
}